<%= render :partial => "teams/pokemonlayout" %>

<div class="page_title">
    <h1 class="h1_title">
        New Team
    </h1>
</div>

<div class="page_content">

    <div class="divider">    </div>

        <%= form_with url: teams_path do |f| %>
            <%= f.label "Team Name:" %>
            <%= f.text_field :nickname %>

            <%= f.fields_for :pokemon_teams do |poke| %>
                <%= hidden_field :team_id, "test" %>

                <%= poke.label "Add Pokemon to Team" %>
                <%= poke.collection_select :pokemon_id, @user.pokemons, "id", "species", prompt: true %>
            <% end %>


            
            <%= f.submit "Add Team" %>
        <% end %>

 </div>
