<div class="signup_login_container">
    <div class="signup_login_form">
        <h1>Log In</h1>

        <div class="signup_login_form_container">
        <% if flash[:messages] %>
            <h2 class="login_signup_errors"><%= flash[:messages] %></h2>
        <% end %>
            <%= form_for @user, url: login_path, method: :post do |f| %>
                <div class="signup_login_field">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'signup-login-input' %>
                </div>
                <div class="signup_login_field">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'signup-login-input' %>
                </div>

                <div class="signup_login_submit_btn">
                        <%= f.submit "log in" %>
                    </div>
            <% end %>
            </div>

            <div class="create_button_container">
                    
                <div class="signup_login_submit_btn facebook_submit">
                    <%= button_to('Log in with Facebook', '/auth/facebook') %> 
                </div>

                <div class="signup_login_submit_btn google_submit">
                    <%= button_to('Log in with Google', '/auth/google_oauth2') %> 
                </div>
            </div>

            <div class="or_sign_up">
                Or <%= link_to(controller: 'users', action: 'new') { 'sign up' } %>
            </div>

    </div>
    <div class="signup_login_image">
         <p>"Logging in is the most fun you'll ever have in your life."<br /> ~Ree L. Revue</p>
    </div>
</div>