<div class="signup_login_container">
    <div class="signup_login_form">
        <h1>Sign Up</h1>

        <div class="signup_login_form_container">
        <%= form_for @user, controller: 'users', action: 'create' do |f| %>
            <div class="signup_login_field">
                <%= f.label "Name:" %><br />
                <%= f.text_field :name, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Email:" %><br />
                <%= f.text_field :email, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Password:" %><br />
                <%= f.password_field :password, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Confirm Password:" %><br />
                <%= f.password_field :password_confirmation, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_submit_btn">
                <%= f.submit "Create New Account" %>
            </div>

            <div class="signup_login_submit_btn facebook_submit">
                <%= f.submit "Create with Facebook" %>
            </div>

            <div class="signup_login_submit_btn google_submit">
                <%= f.submit "Create with Google" %>
            </div>
        
        <% end %>
        </div>

    </div>
    <div class="signup_login_image"></div>
</div>