<div class="signup_login_container">
    <div class="signup_login_form">
        <h1>Sign Up</h1>

        <div class="signup_login_form_container">

        <% if flash[:messages] %>
            <h2 class="login_signup_errors"><%= flash[:messages] %></h2>
        <% end %>

        <%= form_for @user, controller: 'users', action: 'create' do |f| %>
            <div class="signup_login_field">
                <%= f.label "Name:" %><br />
                <%= f.text_field :name, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Email:" %><br />
                <%= f.text_field :email, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Password:" %><br />
                <%= f.password_field :password, class: 'signup-login-input' %>
            </div>

            <div class="signup_login_field">
                <%= f.label "Confirm Password:" %><br />
                <%= f.password_field :password_confirmation, class: 'signup-login-input' %>
            </div>

            <div class="create_button_container">
                <div class="signup_login_submit_btn">
                    <%= f.submit "Submit" %>
                </div>

                <div class="signup_login_submit_btn facebook_submit">
                    <%= button_to('Create with Facebook', '/auth/facebook') %> 
                </div>

                <div class="signup_login_submit_btn google_submit">
                    <%= f.submit "Create with Google" %>
                </div>
            </div>
        
        <% end %>
        </div>

    </div>
    <div class="signup_login_image">
        <p>"Signing up is the best decision you will ever make. I don't know how I lived before this site existed." <br/> ~Todd Lee Lejit</p>
    </div>
</div>