<%= render :partial => "teams/pokemonlayout" %>

Check out my pokemons I am so 1337 <br />

<div class="pokemon_flex_display">
<% @pokemons.each do |pokemon| %>
   
    <%= link_to pokemon_path(pokemon.id), class: "pokemon_view_all_links", :action => 'go' do %>
        
         <%= content_tag(:div, class: [pokemon.poke_type.to_s, "pokemon_all_display"]) do %>
            <div><%= image_tag(pokemon.sprite) %></div>
            <div><%= pokemon.species %></div>
        <% end %>
    <% end %>
<% end %>
</div>