<%= render :partial => "teams/pokemonlayout" %>

<% if flash[:messages] %>
        <h2 class="login_signup_errors"><%= flash[:messages] %></h2>
<% end %>

<div class="page_title">
    <h1 class="h1_title">
        Hatch a Level 1 Pokemon
    </div>
</div>

<div class="page_content">
    <div class="hatch_a_pokemon">
        <%= form_with url: pokemons_path do |f| %>

                <div class="capture_pokemon_entry">

                    <%= f.label "Name of Pokemon Species:" %>
                    <%= f.text_field :species %>
                </div>

                <div class="capture_pokemon_entry">
                    <%= f.label "Pokemon Nickname" %>
                    <%= f.text_field :name %>
                </div>

                <div class="capture_pokemon_submit_container">
                    <%= f.submit "Create Pokemon" %>
                </div>
        <% end %>
    </div>
</div>