
<div class="capture_pokemon_content">
    <div class="capture_pokemon_container">
        <div class="capture_pokemon_container_inner">
            <div class="capture_pokemon_info">
                <div class="capture_pokemon_title">
                    <%= @pokemon_species.capitalize %>
                </div>
                <div class="capture_pokemon_level">
                    <span>Lvl: <span id="poke-id"><%= @pokemon_level %></span></span>
                </div>
            </div>
            <div class="capture_pokemon_image">
                <%= image_tag(@pokemon_sprite) %>
            </div>
            <div class="capture_pokemon_buttons" id="keep_button_from_sliding">
                <button id="throwpokeball">Throw Pokeball</button>
                <%= button_to "Continue Searching", pokemons_explore_path, :method => :get %>
            </div>
        </div>
    </div>
</div>

<div id="failedcapture">
    Oh no! The Pokemon broke free! <br />Throw another Pokeball or search for another Pokemon.
</div>

    
<div class="capture-form-container">
    <div id="captureform">
        <%= form_with url: pokemons_capture_path do |f| %>

            <%= hidden_field :species, @pokemon_species %>
            <%= hidden_field :poke_type, @pokemon_type %>
            <%= hidden_field :level, @pokemon_level %>
            <%= hidden_field :sprite, @pokemon_sprite %>

            <div class="capture_pokemon_entry">
                <%= f.label :nickname %>
                <%= f.text_field :nickname, class: 'pokemon_nickname' %>
            </div>

            <div class="capture_pokemon_submit_container">
                <%= f.submit "Capture Pokemon" %>
            </div>
        <% end %>
    </div>
</div>

 <%= javascript_pack_tag 'pokemon', 'data-turbolinks-track': 'reload' %>
