<%= render :partial => "teams/pokemonlayout" %>

<div class="capture_pokemon_content">
    <div class="capture_pokemon_container">
        <div class="capture_pokemon_container_inner">
            <div class="capture_pokemon_info">
                <div class="capture_pokemon_title">
                    <%= @pokemon_species.capitalize %>
                </div>
                <div class="capture_pokemon_level">
                    <span>Lvl: <span id="poke-id"><%= @pokemon_level %></span></span>
                </div>
            </div>
            <div class="capture_pokemon_image">
                <%= image_tag(@pokemon_sprite) %>
            </div>
            
            <div class="capture_pokemon_buttons" id="keep_button_from_sliding">
            <% if @user.items.count != 0 %>
                <button id="throwpokeball">Throw Pokeball</button>
                <% end %>
                <div class="continue_searching_link"><%= button_to "Continue Searching", pokemons_explore_path, :method => :get %></div>
            </div>
        </div>
    </div>
</div>

<div id="failedcapture">
    Oh no! The Pokemon broke free! <br />Throw another Pokeball or search for another Pokemon.
</div>

    
<div class="capture-form-container" id="hidden-container-fix">
    
    <div id="captureform">
        <%= form_with url: pokemons_capture_path do |f| %>

            <%= hidden_field :species, @pokemon_species %>
            <%= hidden_field :poke_type, @pokemon_type %>
            <%= hidden_field :level, @pokemon_level %>
            <%= hidden_field :sprite, @pokemon_sprite %>

            <div class="capture_pokemon_entry">
                <%= f.label :nickname %>
                <%= f.text_field :nickname, class: 'pokemon_nickname' %>
            </div>

            <div class="capture_pokemon_submit_container">
                <%= f.submit "Capture Pokemon" %>
            </div>
        <% end %>
    </div>
</div>
<div class="total_inventory capture_pokeball_options">
    <% if @user.items.count != 0 %>
        <% @items.each do |item| %>
        <div class="inventory_items">
            <div><%= image_tag(item.sprite) %></div>
            <div><%= capitalize_name(item.name) %></div>
            <div>Quantity: <%= @quantities[:"#{item.id}"] %></div>
            <% if item.id == 3 %>
                <%= content_tag(:input, nil, :type => 'radio', :value => item.id, :name => "pokeball", checked: true) %>
            <% else %>
                <%= content_tag(:input, nil, :type => 'radio', :value => item.id, :name => "pokeball") %>
            <% end %>
        </div>
        <% end %>
    </div>
<% else %>
<div class="no_pokeballs">
You need to purchase Pokeballs before you can capture Pokemon. <br> 
Please head to the <%= link_to "Pokeball Shop", stores_path, :class => "shop_link" %>.
</div>
<% end %>

 <%= javascript_pack_tag 'pokemon', 'data-turbolinks-track': 'reload' %>
