<%= render :partial => "teams/pokemonlayout" %>


<div class="page_title">
    <h1 class="h1_title">
        <%= @pokemon.species %> <%= (link_to 'edit', edit_pokemon_path(@pokemon)) %> <%= link_to "Delete", @pokemon, method: :delete, data: { confirm: "Really?" } %>
    </h1>
</div>

<div class="page_content">

    <img src="<%= @pokemon.sprite %>">

    <p>Species: <%= @pokemon.species %></p>
    <p>Nickname: <%= @pokemon.nickname %></p>
    <p>Type: <%= @pokemon.poke_type %></p>
    <p>Level: <%= @pokemon.level %></p>
    <p>Owner: <%= @pokemon.user.name %></p>

</div>
