<!DOCTYPE html>
<html>
  <head>
    <title>PokemonMiniProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <% if !logged_in? %>
      <div class="nav_container" id="nav_logged_out">
        <div class="nav_category nav_logo">
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
        <div class="login_sign">
          <div class="nav_category sign_up_login">
            <%= (link_to "Sign up", "/users/new") %>
          </div>
          <div class="nav_category sign_up_login">
            <%= (link_to "Log in", '/login') %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="nav_container" id="nav_logged_out">
      <div class="nav_category nav_logo">
          <%= link_to image_tag("logo.png"), "/" %>
        </div>
         <div class="nav_category sign_up_login user_info">
            <%= @user.name.capitalize %>: $<%= @user.money %>
        </div>
        <div class="nav_category sign_up_login">
            <%= (link_to "Search for Pokémon", pokemons_explore_path) %>
        </div>
        <div class="nav_category sign_up_login">
            <%= (link_to "My Pokémon", pokemons_path) %>
        </div>
        <div class="nav_category sign_up_login">
            <%= (link_to "Inventory", '/') %>
        </div>
        <div class="nav_category sign_up_login">
            <%= (link_to "Shop", '/') %>
        </div>
         <div class="nav_category sign_up_login">
            <%= (link_to "Log Out", '/logout', method: :post) %>
        </div>
      </div>
    <% end %>
    <div class="nav-divider">
      <div class="nav-divider-inner nav-divider-red"></div>
      <div class="nav-divider-inner nav-divider-yellow"></div>
      <div class="nav-divider-inner nav-divider-green"></div>
      <div class="nav-divider-inner nav-divider-aqua"></div>
      <div class="nav-divider-inner nav-divider-blue"></div>
    </div>
    <%= yield %>
     <%= javascript_pack_tag 'pokemon', 'data-turbolinks-track': 'reload' %>
  </body>
</html>